<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>myback</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>Developer</param-name>
    <param-value>Oh MoonJeong</param-value>
  </context-param>
  <context-param>
    <param-name>env</param-name>
    <param-value>/WEB-INF/classes.prop</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>com.day.control.FirstServlet</servlet-class>
    <init-param>
      <param-name>fileName</param-name>
      <param-value>a.txt</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/first</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveServlet</display-name>
    <servlet-name>MoveServlet</servlet-name>
    <servlet-class>com.day.control.MoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveServlet</servlet-name>
    <url-pattern>/move</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SuccessServlet</display-name>
    <servlet-name>SuccessServlet</servlet-name>
    <servlet-class>com.day.control.SuccessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuccessServlet</servlet-name>
    <url-pattern>/success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FailServlet</display-name>
    <servlet-name>FailServlet</servlet-name>
    <servlet-class>com.day.control.FailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FailServlet</servlet-name>
    <url-pattern>/fail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.day.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductLstServlet</display-name>
    <servlet-name>ProductLstServlet</servlet-name>
    <servlet-class>com.day.control.ProductLstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductLstServlet</servlet-name>
    <url-pattern>/productlist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JacksonServlet</display-name>
    <servlet-name>JacksonServlet</servlet-name>
    <servlet-class>com.day.control.JacksonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JacksonServlet</servlet-name>
    <url-pattern>/jackson</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProductInfoServlet</display-name>
    <servlet-name>ProductInfoServlet</servlet-name>
    <servlet-class>com.day.control.ProductInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductInfoServlet</servlet-name>
    <url-pattern>/productinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PutCartServlet</display-name>
    <servlet-name>PutCartServlet</servlet-name>
    <servlet-class>com.day.control.PutCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PutCartServlet</servlet-name>
    <url-pattern>/putcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewCartServlet</display-name>
    <servlet-name>ViewCartServlet</servlet-name>
    <servlet-class>com.day.control.ViewCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewCartServlet</servlet-name>
    <url-pattern>/viewcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddOrderServlet</display-name>
    <servlet-name>AddOrderServlet</servlet-name>
    <servlet-class>com.day.control.AddOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddOrderServlet</servlet-name>
    <url-pattern>/addorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.day.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckloginedServlet</display-name>
    <servlet-name>CheckloginedServlet</servlet-name>
    <servlet-class>com.day.control.CheckloginedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckloginedServlet</servlet-name>
    <url-pattern>/checklogined</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OrderListServlet</display-name>
    <servlet-name>OrderListServlet</servlet-name>
    <servlet-class>com.day.control.OrderListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderListServlet</servlet-name>
    <url-pattern>/orderlist</url-pattern>
  </servlet-mapping>
</web-app>