<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


<!-- <bean name="c" class="com.day.dto.Customer" scope="prototype"> -->
<bean name="c" class="com.day.dto.Customer" >
	<property name="id" value="id1"></property>
	<property name="pwd" value="p1"/>
	<property name="name" value="이석봉"/>
</bean>
<bean name="customerDAO" class="com.day.dao.CustomerDAOOracle"></bean> 

<bean name="p" class="com.day.dto.Product">
	<constructor-arg index="0" value="C0001"></constructor-arg>
	<constructor-arg index="1" value="아메리카노"></constructor-arg>
	<constructor-arg index="2" value="1000"></constructor-arg>
	<constructor-arg index="3" ><null/></constructor-arg> <!-- null값입력 -->
	<constructor-arg index="4" value=""></constructor-arg>
</bean>

<bean name="productDAO" class="com.day.dao.ProductDAOOracle"></bean> 

<bean name="productService" class="com.day.service.ProductService">
	 <!-- <property name="dao" ref="productDAO"></property> --><!-- setter injection -->
	 <!-- <constructor-arg index="0" ref="productDAO"></constructor-arg> --><!-- constructor injection -->
</bean>
<context:annotation-config></context:annotation-config>

</beans>
